{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="w-75 m-auto">
        <div class="row">
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Шкафы холодильные</h5>
                </a>
            </div>
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Холодильные камеры</h5>
                </a>
            </div>
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Морозильные лари</h5>
                </a>
            </div>
            <div class="col">
                <a class="nav-link" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Моноблоки</h5>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Витрины</h5>
                </a>
            </div>
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Кондиционеры</h5>
                </a>
            </div>
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Мобильные Кондиционеры</h5>
                </a>
            </div>
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Выпечка</h5>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Тепловое оборудование</h5>
                </a>
            </div>
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Пароконвектоматы</h5>
                </a>
            </div>
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Конвекционные печи</h5>
                </a>
            </div>
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Механическое оборудование</h5>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Оборудование ФАСТ-ФУД</h5>
                </a>
            </div>
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Посудомоечное оборудование</h5>
                </a>
            </div>
            <div class="col">
                <a class="" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Нейтральное оборудование</h5>
                </a>
            </div>
            <a class="col">
                <a class="nav-link border rounded" href="{% url 'main' %}">
                    <img src="" alt="">
                    <h5 class="text-center">Стеллажи</h5>
                </a>
            </a>
        </div>
    </div>
{#    <div class="w-75 m-auto d-flex justify-content-between">#}
{#        <div class="">#}
{#            <div class="btn-group-vertical">#}
{#                <a href=""></a>#}
{#                <a href=""></a>#}
{#                <a href=""></a>#}
{#                <a href=""></a>#}
{#                <a href=""></a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="">#}
{##}
{#        </div>#}
{#    </div>#}
</body>
</html>
{% endblock %}
